name: CI

on:
  workflow_dispatch:  # ще го пускаш ръчно от GitHub

jobs:
  build-and-check:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: "3.11"

      - name: Install dependencies
        run: |
          python -m pip install --upgrade pip
          pip install -r requirements.txt

      - name: Check syntax
        run: |
          python -m compileall .
